@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Rules to use the tool</h3>
    <ul>
        <li>You add each URL separated by <i>enter</i></li>
        <li>You must run 3 Web page test</li>
        <li>If you need to run more test in each URL change the value of Number of Tests.</li>
        <li>The tool is focus to New Home Source page, but it could work to other pages.</li>
    </ul>
</div>

<label>Number of Tests in each URL of Web Page Test (default 9)</label>
<input type="number" value="9" id="runs">

<div>
    <label>URLs of Web Page Test</label>
    <br/>
    <textarea id="urls"></textarea>
</div>

<button id="generate">Generate Report</button>

@section scripts{
    <script type="text/javascript" src="../../Scripts/JavaScript.js"></script>
}
<div id="tables">
    <table id="table-summary">
        <thead>
            <tr>
                <th colspan="18">Summary</th>
            </tr>
            <tr>
                <th>Page</th>
                <th>TTI</th>
                <th>CSS Bytes</th>
                <th>JS Bytes</th>
                <th>Image Bytes</th>
                <th>Fully Loaded</th>
                <th>DOM Content Loaded</th>
                <th>DOM Elements</th>
                <th>LCP</th>
                <th>Start Render</th>
                <th>FCP</th>
                <th>TTFB</th>
                <th>Load Time</th>
                <th>DOM Interactive</th>
                <th>CLS</th>
                <th>TBT</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<style>
    td {
        padding: 0 6px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th {
        padding: 0 6px;
        font-size: 12px;
    }

    table {
        margin: 25px 0;
    }

    thead > tr:nth-child(1) > th {
        font-size: 20px;
    }

    textarea {
        width: 600px !important;
        max-width: 600px !important;
    }
</style>